Document the changes introduced by latest refactor

### Context

https://github.com/jupyterhub/oauthenticator/pull/526 introduces some changes like configuration deprecations in order to achieve a certain "normalization" of the authenticators.

### Proposal

- [ ] Document the changes in #526  in the changelog and also create a migration guide for when a new version will be released
- [ ] Improve the  documentation of the base `OAuthenticator` class with latest info

Wieee excellent work!

I removed the maintenance label and retained documentation label, to help github-activity tool generate a changelog where this PR shows up only in one category: documentation.

tornado.auth still uses the old name 'extra_params' instead of 'token_params' (https://github.com/tornadoweb/tornado/blob/341e8900524846a2c5e7a9ce5be4448e13d2d3d7/tornado/auth.py#L558)
```
    Traceback (most recent call last):
      File "/usr/local/lib/python3.10/dist-packages/tornado/web.py", line 1711, in _execute
        result = method(*self.path_args, **self.path_kwargs)
      File "/usr/local/lib/python3.10/dist-packages/oauthenticator/oauth2.py", line 106, in get
        self.authorize_redirect(
    TypeError: OAuth2Mixin.authorize_redirect() got an unexpected keyword argument 'token_params'
```

Thanks for reporting this bug @bcm0! I've opened https://github.com/jupyterhub/oauthenticator/pull/551 to fix it.

https://github.com/jupyterhub/oauthenticator/pull/526 was a big PR and there might be other things missing. If you spot anything else, please feel free to open a new bug report

...remember to include "breaking the Access Token Request described in [RFC6749 section 4.1.3](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.3)".

Since the refactor, `application/json` is now used rather than `application/x-www-form-urlencoded` which you can see in https://github.com/jupyterhub/oauthenticator/blob/6ba490b00c26b91a8b7f3ed679b3f39db25c6eef/oauthenticator/oauth2.py#L573-L590

It causes some endpoints to just reject the request altogether.

A little grumpy here as after being [being asking to describe a proposed change and its impact to existing provider I then got radio silence](https://github.com/jupyterhub/oauthenticator/pull/540#issuecomment-1281289497) but then I see a hard interopability breakage and no one says anything :(

Since the refactor, something seems to be off around the handling of `refresh_pre_spawn`.

I see the error:
```
Error starting server bob@example.com: The 'refresh_pre_spawn' trait of a GenericOAuthenticator instance expected a boolean, not the NoneType None.
```

If tried to fix it by adding a 'False' return to https://github.com/jupyterhub/oauthenticator/blob/6ba490b00c26b91a8b7f3ed679b3f39db25c6eef/oauthenticator/oauth2.py#L297-L301 but it seems to not work as I would expect.

For now I am working around the problem by setting:
```
c.GenericOAuthenticator.refresh_pre_spawn = False
```